__pycache__
staticfiles
local_settings.py
db.sqlite3
*.py[co]
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pip-selfcheck.json

# pyenv
.python-version
pyvenv.cfg

# virtualenv
.venv
venv/
ENV/

# jupyter lab
*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
jupyterlab_git/labextension

# docker & vscode & jupyter
.devcontainer

# OSX files
.DS_Store

# project
